@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables/variables';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/button';
@import 'blocks/slider';
@import 'blocks/newProduct';
@import 'blocks/products';

body{
    font-family: "Montserrat", sans-serif;
    background-color: $bg-color;
    font-weight: 600;
    font-size: $main-size;
    color: $main-color;
}
.container{
    width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}